<article
  class="mt-6 w-64 h-95 bg-white border border-slate-200 rounded-xl shadow-sm overflow-hidden flex flex-col"
>
  <div class="h-44 w-full bg-slate-100 overflow-hidden">
    <img [src]="product.images[0]" [alt]="product.title" class="h-full w-full object-cover" />
  </div>

  <div class="p-4 flex flex-col flex-1 gap-3">
    <h3
      class="text-sm font-semibold text-slate-800 leading-5 line-clamp-2 min-h-10"
      [title]="product.title"
    >
      {{ product.title | uppercase | reverse}}
    </h3>
    <span>{{ product.description | slice:0:50 }}...</span>
    <span>{{ product.creationAt | timeAgo }}</span>
    <span class="text-sm text-gray-500">{{ product.creationAt | date: 'short' }}</span>

    <p class="text-2xl font-extrabold text-slate-900">{{ product.price | currency: 'S/  ': 'symbol': '1.2-2' }}</p>

    <button
      type="button"
      class="mt-auto w-full rounded-lg bg-blue-700 px-4 py-2 text-sm font-semibold text-white transition hover:bg-blue-800"
      (click)="addToCartHandler()"
    >
      Agregar al carrito
    </button>
  </div>
</article>
